html,
body {
    font-family: 'Fira Code';
    font-size: 16px;
    margin: 0;
}


body {
    display: grid;
    grid-template-areas:
        "header header header"
        "navbar navbar navbar"
        "main main aside-r"
        "footer footer footer";
    grid-template-columns: 1fr 1fr 18vw;
    grid-template-rows: 100vh
        /*Full-page home (like landing page)*/
        50px auto auto;
}

.item {
    background: #ffe600b2;
    border: 3px solid #3d3910b2;
}

header {
    grid-area: header;
    margin: 0;
    background: url("img/christopher-burns-271403-unsplash_compressed.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    grid-template-areas:
        "intro intro intro"
        "caption caption caption";
    grid-template-columns: 1fr;
    grid-template-rows: auto 5vh;
}

.intro {
    grid-area: intro;
    text-align: center;
    color: white;
}

.intro h1 {
    text-transform: uppercase;
    font-size: 5rem;
    margin-top: 35vh;
}

header .intro p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2.2rem;

}

.intro p span {
    background: -webkit-linear-gradient(#10dddd, #7117e7);
    font-family: 'arial';
}

.caption {
    grid-area: caption;
    text-align: center;
    font-size: 12px;
    color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.intro p span,
.caption a {
    background: -webkit-linear-gradient(#10dddd, #7117e7);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    text-decoration: none;

}

/* .caption a {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
 */
.intro,
.caption {
    background: #000;
    opacity: .8;
}

/*-------------Fade-in Brg--------------*/
.animated-bgr {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn-bgr {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn-bgr {
    -webkit-animation-name: fadeIn-brg;
    animation-name: fadeIn-brg;
}

/*-------------Fade-in Brg--------------*/

/*-------------Intro text fade-in--------------*/
.animated {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.delayed {
    animation-delay: .8s;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

/*-------------Intro text fade-in--------------*/

/*-------------Navbar--------------*/
nav {
    grid-area: navbar;
    background: #1c2331;

}
.navbar {
    overflow: hidden;
}
#toggle,
.fa,
.fa-bars {
    visibility: hidden;
    z-index: -10;
}
.navbar ul {
    margin: 1px;
    text-align: center;
    padding-right: 15vw;
}
.navbar a {
    text-decoration: none;
    text-transform: uppercase;
}
.navbar li{
    padding:16px 8px 14px 8px;
}
.navbar label,
.navbar ul,
.navbar li,
.navbar a {
    float: right;
    display: block;
    color: whitesmoke;
    transition: all ease-in-out 0.2s;
} 
.navbar li:hover {
    background: #59698d;
    font-weight: bold;
}
/*-------------Mobile Navbar--------------*/
@media (max-width: 600px) {
    nav {
        position: fixed;
        background: #1c2331;
        width: 100%;
        height: 60px;
        color: whitesmoke;
        font-size: 1.8rem;
    }
    .navbar label,
    #toggle,
    .fa,
    .fa-bars {
        visibility: visible;
        z-index: 10;
    }

    #burger {
        position: absolute;
        right: 0;
        padding: 15px;

    }

    input[type=checkbox] {
        display: none;
    }

    .navbar ul {
        display: none;
    }

    input[type=checkbox]:checked~ul {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .navbar li,
    .navbar ul{
        width:100%;
        text-transform: uppercase;
        background: #1c2331;
        text-decoration: none;
        color: whitesmoke;
        font-size: 1.2rem;
    }
    
}    
/*-------------Mobile Navbar--------------*/
    

/*-------------Navbar--------------*/



    /* ------------Main----------- */
    main {
        grid-area: main;
        padding: 2rem 2rem 2rem 4rem;
    }

    /* ------------Main----------- */


    aside {
        grid-area: aside-r;
    }

    footer {
        grid-area: footer;
        margin: 0;
    }

    @media (max-width: 600px) {
        body {
            display: grid;
            grid-template-areas:
                "header"
                /* "navbar" */
                "main"
                "aside-r"
                "footer";
            grid-template-columns: 1fr;
            grid-template-rows:
                minmax(auto, 100vh)
                /* Header */
                /* Nav */
                minmax(auto, 1fr)
                /* Content */
                auto
                /* Sidebar */
                auto;
            /*Footer */
        }

        header {
            grid-template-columns: minmax(auto, 1fr);
            grid-template-rows: minmax(100px, auto);
        }

        header h1 {
            margin-top: 35vh;
        }

        .intro,
        aside,
        footer {
            padding: 25px;
        }

        main {
            margin: 0;
            padding: 20px;
            text-align: justify;
        }
}